body, html {
    height: 100%;
    /*margin: 0px auto;*/
    margin: 0;
    padding: 0;
    min-width: 900px;
}

.body-all {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #BDDEFF;
    min-width: 900px;
}




.iplant-tool-header {
    width: 100%;
    height: 85px;
    position: absolute;
    left: 0;
    top: 0;
}


.femi-contain-width {
    min-width: 900px;
}

.iplant-tool-footer {
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}

.iplant-tool-middle {
    width: 100%;
    position: absolute;
    top: 82px;
    bottom: 22px;
    height:auto;
    padding:0px;
}

/*头部上部分 高度40  */
.zace-header-top {
    width: 100%;
    height: 50px;
    padding: 5px;
    /* background-color: lightblue;*/
    background-image: url("../images/contain/page_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}


    .zace-header-top img {
        border: 0px;
        margin-right: 3px;
        border-radius: 17.5px;
        width: 35px;
        height: 35px;
    }

    .zace-header-top .zace-header-float img {
        border: 0px;
        margin-right: 3px;
        border-radius: 15px;
        width: 30px;
        height: 30px;
    }

.zace-header-top-left {
    margin-left: 15px;
    float: left;
    height: 36px;
    width:165px;  
    background-image: url("../images/contain/iPlant.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}


    .zace-header-top-left span {
        font-family: STXinwei;
        font-size: 22px;
        line-height: 40px;
        color: aliceblue;
        cursor: default;
        margin: 0px 10px;
    }

.zace-sub-header-left span {
    padding-left: 6px;
    font-size: 17px;
    font-weight: bold;
}

.zace-header-top-left a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    float: left;
}



/* 右上角个人信息等*/
.zace-header-lf {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    overflow: hidden;
    float: left;
}

div.zace-header-lf img {
    width: 25px;
    height: 25px;
    border-radius: 30px;
}

ul.zace-header-float {
    float: right;
    list-style: none;
    height: 30px;
    color: aliceblue;
}

    ul.zace-header-float li {
        padding: 0px 10px;
        float: left;
        height: 30px;
        font-size: 14px;
    }

    ul.zace-header-float span {
        line-height: 24px;
        font-size: 14px;
        color: aliceblue;
    }

    ul.zace-header-float li a {
        font-size: 14px;
        line-height: 26px;
    }



.zace-onload-user a:hover {
    color: #000000;
}

.zace-header-top a {
    text-decoration: none;
}

    .zace-header-top a:hover {
        color: #000000;
    }
/* 头部上部分 end......*/



/* 头部下部分 高度 30 */
/* .zace-header-bom {
    width: 100%;
    height: 35px;
    background-color: #BDDEFF; 
   
  
}

  .zace-header-bom img {
        vertical-align: middle;
        border: 0px;
        padding:5px;
        width:20px;
        height:20px;
   }
  .zace-header-bom span{
      vertical-align:middle;
      font-size:14px;

  }
  .zace-header-bom a, .zace-header-bom a:visited { 
        padding: 5px ;
        color: #000000;
        text-decoration: none;
    }

*/

.zace-middle-left {
    left: 3px;
    top: 0;
    width: 180px;
    height: 100%;
    position: absolute;
    background-color: white;
    border: solid 1px #6394CE;
    overflow: hidden;
}

.zace-left-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 100%;
}

.zace-left-bom {
    left: 0;
    bottom: 0px;
    height: 60px;
    width: 100%;
    position: absolute;
}

.zace-left-center {
    position: absolute;
    bottom: 60px;
    left: 0;
    top: 30px;
    width: 100%;
}

.zace-sub-header-left {
    /* background-color: aliceblue; */
    background-image: url('../images/contain/subheader_bg.png');
    background-repeat: repeat-x;
    height: 27px;
}


.zace-sub-header a, .zace-sub-header a:visited {
    color: #000000;
    text-decoration: none;
}

.zace-sub-header img {
    vertical-align: top;
    border: 0px;
    margin-left: 5px;
    width: 25px;
    height: 20px;
}

.zace-second-menu {
    height: 30px;
    padding: 3px; 
    margin: 3px 0px;
    font-size: 14px;
}

    .zace-second-menu a, .zace-second-menu a:visited {
        padding: 2px 20px;
        display: block;
        color: #000000;
        text-decoration: none;
    }

        .zace-second-menu a:hover {
            background-color: azure;
            border: solid 1px #6394CE;
        }

    .zace-second-menu img {
        vertical-align: middle;
        border: 0px;
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }

.zace-first-menu {
    height: 32px;
}

.zace-left-top .zace-first-menu:first-child {
    height: 27px;
}



.zace-separator {
    margin: 1px 0px 0px 0px;
    height: 5px;
    background-image: url('../images/contain/nav_separator.png');
    background-repeat: repeat-x;
    background-position: center;
    border-top: 1px solid #6394CE;
}

.zace-first-menu a {
    height: 27px;
    line-height: 27px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    background-image: url('../images/contain/subheader_bg.png');
    background-repeat: repeat-x;
    border-top: 1px solid #6394CE;
    border-bottom: 1px solid #6394CE;
}


.zace-left-top :first-child a {
    border-top: 0px;
}

.zace-first-menu img {
    margin: 1px 5px 0px 5px;
    vertical-align: top;
    width: 24px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}



.zace-middle-center {
    left: 185px;
    top: 0;
    right: 2px;
    border: solid 1px #6394CE;
    height: 100%;
    position: absolute;
}


.zace-middle-right {
    right: 0;
    top: 0;
    margin-right: 3px;
    width: 0px;
    border: solid 1px #6394CE;
    height: 100%;
    position: absolute;
    display: none;
}

.zace-out-right {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.zace-sub-header {
    /* position: absolute;    azure*/
    /*background-color: aliceblue;*/
    background-image: url('../images/contain/subheader_bg.png');
    background-repeat: repeat-x;
    left: 0;
    top: 0;
    height: 27px;
    /*margin-right: -3px;*/
}

.zace-sub-center {
    position: absolute;
    width: 100%;
    top: 27px;
    bottom: 0px;
    background-image: url('../images/contain/iframe_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}



.zace-right-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

    .zace-right-content iframe {
        width: 100%;
        height: 100%;
    }

div.zace-iframe-contain {
    float: left;
    width: 140px;
    height: 27px;
    top: 0;
    border-right:1px solid  lightblue; 
}


    div.zace-iframe-contain.femi-selected {
        background-color: #fff;
        border-right:none;
        
    }

 

.zace-sub-header span {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
}

div.zace-iframe-contain img {
    margin-top: 3px;
    vertical-align: middle;
    border: 0px;
    width: 20px;
    height: 20px;
}

div.zace-iframe-contain .iframe-left {
    position: absolute;
    top: 0;
    float: left;
    width: 40px;
    height: 27px;
}

div.zace-iframe-contain .iFrame-center {
    top: 0; 
    width: 88px;
    height: 27px;
       float: left;
    line-height: 25px;
    overflow: hidden;
    font-size: 13px;
}

div.zace-iframe-contain .iFrame-right {
 
    margin:3px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align:center;
    float: right;
    line-height:20px;
}

div.zace-iframe-contain .iFrame-right img {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

div.zace-iframe-contain .iFrame-right:hover {
    background-color: lightgrey;
}


.clear {
    clear: both;
    float: none;
    height: 0px !important;
    _width: 0px; /*只兼容IE6*/
    _height: -5px;
}

.toolbarLeft {
    margin-left: 10px;
    margin-top: 3px;
    background-image: url('../images/contain/toolbar_left.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 25px;
    width: 7px;
    float: left;
}

.toolbarRight {
    margin-top: 3px;
    background-image: url('../images/contain/toolbar_right.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    height: 25px;
    width: 10px;
    float: left;
}

.toolbarContent {
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 5px;
    float: left;
    height: 25px;
    line-height: 25px;
    background-image: url('../images/contain/toolbar_bg.png');
    background-repeat: repeat-x;
}

    .toolbarContent img {
        margin-top: 4px;
        margin-right: 5px;
        vertical-align: top;
        border: 0px;
        width: 16px;
        height: 16px;
    }

    .toolbarContent a, .toolbarContent a:visited {
        margin-right: 5px;
        color: #000000;
        text-decoration: none;
    }

        .toolbarContent a:hover {
            text-decoration: none;
        }

.zace-header-bom {
    width: 100%;
    height: 30px;
    background-color: #BDDEFF;
}

    .zace-header-bom span { 
        color: darkblue;
    }

.toorbar {
    margin: 0px 5px;
    float: left;
    height: 25px;
}

.femi-hand {
    cursor: pointer;
}
