/*div.femi-header {
	height: 35px;
	width: 100%;
	min-width:900px; 
	background-color: GhostWhite; 
}
div.femi-header .femi-header-title {
	font-family: STXinwei;
	font-size: 20px;
	width:150px;
	line-height: 35px;
	color: #00688B; 
	cursor:default;
	margin: 0px;
	text-align:center;
	position: absolute;
	left: 50%;
	margin-left: -75px;
}


div.femi-header  .femi-head-toolbar {
	float: right;
	margin-right: 20px;
	font-size: 14px;
}

div.femi-header  .femi-head-toolbar  .femi-head-alarm{
	color:#008B8B;
	height: 25px;
	margin: 10px 10px 0px 0px;
	line-height: 25px;
	
}*/

.femi-tb-title {
 
	font-size: 14px;
	line-height: 35px;
	color: #00688B; 
	cursor:default;  
	width: 100%;
	text-align: center;
	height:35px;
}
.femi-table{
	padding-top:0px;
	padding-bottom:0px;
/* 	background-color: GhostWhite; */
} 

.femi-left{
	width: 300px;
	padding: 5px 10px;  
	height: 100%;
}

.femi-full-bd{
	 
	width: auto;
	height: 100%
}
  

.femi-bd-half-left,.femi-bd-half-right{
	
	padding: 3px 5px;
	height: 100%;
	overflow: auto;
}
.femi-bd-half-left{
	width:auto;
}
.femi-bd-half-right{
	width: 300px;
}


.femi-bd-contain{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.femi-toolbar-self{
	font-size: 14px;  
	background-color: white;
}
.femi-border-contain{
	height: 100%;
	padding-right: 5px;
}
.femi-tree-head{ 
	padding-left: 20px;
	height: 30px;
}
.femi-tree-body{
	height: 100%;
	margin-top: -30px;
	padding-top: 30px;
}
.femi-tree-body .femi-tree-contain{
	height: 100%;
	overflow: auto;
}

.zsq_label{
	text-align: center;
	font-size: 14px;
}
.zace-rightHead{
height:30px;
}
.zace-tb-border{
    margin-top: -30px;
    padding-top:35px;
}


body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

.zace-cbd-contain{
	height: 100%;	
}

.zace-tree-header {
    height: 45px;
    text-align: center;
    width: 100%;
    padding: 10px 0px 0px;
    overflow: hidden;
}

.zace-tree-body {
    width: 100%;
    height: 100%;
    margin-top: -45px;
    padding: 50px 0px 5px 0px;

}

.zace-tree-header .femi-toolbar-self {
    height:34px;
}

.zace-tree-header .btn-group {
    height:34px;
}

.zace-tree-header .btn-default {
    height:34px;
}


.zace-tree-header .zace-left {
    padding-right:0px;
}

.zace-header-title {  
    font-family: STXinwei;
    font-size: 20px;
    color: #00688B;
    width: 200px;
    line-height: 40px;
    cursor: default;
    text-align: center;
     /*position: absolute;*/ 
    margin: auto;
    height: 40px;
}
.zace-left{
    float:left;
}





