
div.femi-header {
	height: 35px;
	width: 100%;
	min-width:900px; 
	background-color: GhostWhite;
    text-align:center;
}
.femi-header-title {
	font-family: STXinwei;
	font-size: 20px;
	width:200px;
	line-height: 35px;
	color: #00688B; 
	cursor:default;
	margin: 0px;
	text-align:center;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}
.femi-table{
	padding-top:0px;
	padding-bottom:0px; 
} 
.femi-header-nav{
    display:inline;
}
.cby-bd-half-left,.cby-bd-half-right{
	margin-top:10px;
	height: 100%;
	overflow: auto;
}
.cby-bd-half-left{
	width:100%; 
    text-align:center;
}
.cby-bd-half-right{
	width: 40%;
	display: none;
}

.cby-tb-title{
    cursor:default;
    color: #00688B;
    font-size: 14px; 
    line-height: 35px;
    margin:auto;
    text-align:center;
    height:35px;
    width: 200px;
	margin:auto;
    text-align:center;
    font-weight:bold;
}

.cby-tb-head{
    height: 45px;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
